# robot_localization.yaml
# -----------------------------------------------------------------

robot_localization:
  ros__parameters:
    use_sim_time: false
    frequency: 20.0
    sensor_timeout: 0.3
    frequency: 20.0
    publish_tf: true
    publish_odometry: true
    two_d_mode: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    odom0: /odom
    odom0_config: [true, true, false,
                   false, false, true,
                   false, false, false,
                   false, false, false,
                   false, false, false]
    odom0_differential: false
    odom0_queue_size: 10
    odom0_nodelay: true

    # ============== IMU  ======================
    imu0: /imu/data
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  false, false, true,
                  false, false, false]
    imu0_remove_gravitational_acceleration: true
    imu0_differential: false
    imu0_queue_size: 10
    imu0_nodelay: true

    transform_time_offset: 0.05
    transform_timeout: 0.5
    predict_to_current_time: true
